.footer {
    background-color: #F4F5F5;
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    color: #333;
    width: 100%;
    overflow-x: hidden;
    
    }

    .footerInner {    
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box; 
    width: 100%;            
    overflow-x: hidden;
    
}

    .infoSection {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    
    }

    .infoSection h4 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #222;
    }



    .contactSection {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }


    .infoSection p,
    .contactSection p {
        /* margin: 0.3rem 0; */
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        color: #007bff;
        text-decoration: underline;
}


    .divider {
        border: none;
        border-top: 3px solid #ddd;
        width: 100%;
        margin: 1rem 0;
    }

    .bottom {
    text-align: center;
    font-size: 0.85rem;
    color: #666;
}


@media (max-width: 480px) {
    .infoSection {
        grid-template-columns: 1fr; /* una sola columna en móviles muy pequeños */
        gap: 1.25rem;
    }

    .contactSection {
        font-size: 0.9rem;
    }
    } 

