.carouselContainer {
    max-width: 900px;
    margin: 2rem auto;
    text-align: center;
    }

    .slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    }

    .slide h3 {
    margin-top: 0.5rem;
    }