    .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #e9f2f9;;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    font-family: 'Lato', sans-serif;
    
    }

    .logo {
    flex: 0 0 auto; /* Que no crezca ni se encoja, tamaño natural */
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    }

    .logoImg {
    width: 150px;
    object-fit: contain;

    }

    .links {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    color: #ece9ea;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
    }

    .links li a {
    color: #221F20;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem;
    border-radius: 0 0 0 0;
    user-select: none;
    }

    .links li a:hover {
    background-color: #8DD7F7;
    color: #ece9ea;
    }


    .navLink {
    color: #ece9ea;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s ease;
    }

    .navLink:hover {
    color: #00ADEF;
}

    .active {
        background-color: #00ADEF;
        color: white !important;
        border-radius: 10px 10px 0 0;
        transform: translateY(-5px);
        font-weight: 700;
        box-shadow: 0 4px 8px #ece9ea;
    }

    .links li.active {
        position: relative;
        background-color: #00ADEF;
        color: #ece9ea;
        padding: 0.5rem;
        border-radius: 0 0 0 0;
        box-shadow: 0 4px 4px #00ADEF;
        transform: translateY(-8px);
        font-weight: 700;
    }

    .links li:hover:not(.active) {
    color: #ece9ea;
    background-color: #00ADEF;
    opacity: 1;
    /* transform: translateY(-4px); */
    cursor: pointer;
}

    .loginAccess {
    display: flex;
    align-items: center;
    }

    .loginLink {
    font-size: 1.2rem;
    color: #00ADEF;
    /* transition: color 0.2s ease; */
    display: flex;
    align-items: center;
    }

    .loginLink:hover {
    color: #007bbd;
    }

    

