    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        width: 100%;
        max-width: 1200px;
        background-color: #e9f2f9; /* celeste suave */
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        margin: 20px auto;
        
    }
    
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .links {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 500;
        color: #3c8dbc;
        transition: all 0.2s ease-in-out;
        
    }
    
    .links li {
        cursor: pointer;
        font-weight: 500;
        color: #3c8dbc;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }
    
    .links li:hover {
        opacity: 0.8;
        color: #21618c
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .logoImg {
        width: 150px;
        /* height: auto; */
        object-fit: contain;
    }

    




