    .products {
    padding: 4rem 2rem;
    background-color: #f4f4f4;
    text-align: center;
    }

    .products h2 {
    color: #013A81;
    margin-bottom: 2rem;
    font-size: 2rem;
    }

    .title {
        margin-top: 3rem;
        text-align: left;
        font-family: 'Lato', sans-serif;
        color: #333;
    }

    .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
    }

    .productImage {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
    }

    
    .flipCard {
        background-color: transparent;
        width: 100%;
        height: 350px;
        perspective: 1000px;
        cursor: pointer;
        margin-left: 1rem;
        gap: 2rem;
    }

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}


.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 0 15px #A5CE37; /*al usar 0 0 no se desplaza la sombra, 15px radio de difuminado cuanto más alto más suave*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.flipCardFront {
    background-color: #f4f4f4;
}

.flipCardBack {
    background-color: #444;
    color: #f4f4f4;
    transform: rotateY(180deg);
}
.flipCardBack ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flipCardBack li {
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
    padding: 0.2rem 0;
    text-align: left;
    font-family: 'Lato', sans-serif;
}