

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   background-color: #e9f2f9; /* blanco muy suave tirando a gris */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


