.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
}
    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

input {
    box-sizing: border-box; /* importante para que padding y border no cambien el tamaño final */
    height: 2.8rem; /* fija la altura deseada */
    padding: 0.8rem 0.8rem; /* padding vertical y horizontal uniforme */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit; /*hereda la fuente del padre*/
    transition: all 0.3s ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.containerLogin{
        width: 30%;
        position: relative;
        margin: 0 auto;
        padding: 1rem;
        font-family: 'Lato', sans-serif;
        transform: translateY(20px);
        animation: fadeIn 1s ease-out forwards;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(12, 12, 12, 0.03);
        margin-bottom: 4rem;
        margin-top: 2rem;
    }

.titleLogin {
    font-size: 1.3rem;
    font-weight: 500;
    color: #015CDA;
    margin-bottom: 0.8rem;
    text-align: left;
    }

.button {
    background: linear-gradient(135deg, #013A81, #015CDA);
    color: white;
    padding: 0.9rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    align-self: flex-end; /* Alinea el botón al extremo derecho del contenedor */
    margin-right: 15px; /* Agrega un margen derecho para separar el botón del texto */
}

.button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(1, 58, 129, 0.2);
    background-color: #2e69b1;
}

.icon {
    position: absolute; 
    right: 0.8rem; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    font-size: 1.1rem;
    color: #666;
}

.inputContainer {
    position: relative;
    width: 100%;
}

.inputWithIcon {
    width: 100%;
    box-sizing: border-box; /* importante para que padding y border no cambien el tamaño final */
    height: 2.8rem; /* fija la altura deseada */
    padding: 0.8rem 0.8rem; /* padding vertical y horizontal uniforme */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    transition: all 0.3s ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    
}

.oldPassword{
    font-family: inherit;
    font-size: 12px;
}