/* ----- FLECHAS DEL CARRUSEL ----- */
.custom-arrow {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: rgb(15, 15, 15);

}

.custom-arrow:hover {
    color: rgb(15, 15, 15);
    transform: translateY(-50%) scale(1.1);
    background-color: white;
}

.custom-arrow.prev {
    left: 5px;
}

.custom-arrow.next {
    right: 5px;
}

    /* ----- PUNTOS DEL CARRUSEL ----- */
    .slick-dots {
    position: absolute;
    bottom: 170px;
    display: flex !important;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    list-style: none;
    }

    .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    }

    .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    }

    .slick-dots li button:before {
    content: '•';
    font-size: 12px;
    color: #000;
    opacity: 0.5;
    }

    .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #000;
    }

    /* ----- TRANSICIÓN DE SLIDES ----- */
    .slick-slide {
    transition: all 0.3s ease-in-out;
    }


